label {
  margin-right: 20px;
}

nav {
  margin-bottom: 25px
}

.jumbotron {
  margin-top: 20px;
}

.fa-user-alt {
  margin-right: 10px;
}

.innerContainer{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
